body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.container {
    padding-top: 5px;
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    /* background-color: blueviolet; */
}

.PostCard {
    width: 65%;
    margin-right: 2%;
    margin-bottom: 10%;
    background-color: transparent;
}

.PostCard2 {
    width: 36%;
}

h1.title {
    text-align: center;
    margin: 0;
}

p.subtitle {
    text-align: center;
    font-weight: 600;
}

p strong {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0px 4px 2px 4px;
    margin-left: 1px;
}

/* Class Common traits */

/* Border Style All Class */
/* .childOne,
.childTwo,
.sidOne,
.footer {
    border-radius: 8px;
} */

.PostCard {
    position: relative;
}

.sidCard,
.footer {
    margin-top: 25px;
}

.childOne,
.childTwo,
.sidCard,
.sidOne,
.footer {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.childOne,
.childTwo {
    position: absolute;
    /* background-color: aquamarine; */

}

.childOne,
.childTwo,
.sidOne {
    overflow: hidden;

}

.childTwo {
    top: 60%;
}

.childOne,
.childTwo,
.card-background {
    height: 58%;
    background-size: cover;
    background-position: center;
}


.childOne .card-background {
    background-image: url('./img/M.jpeg');
}

.card-background:hover {
    position: relative;
}

.card-background:hover
 .inside_Image {
    visibility: visible;

}

.inside_Image {
    top: 5%;
    border-radius: 15px;
    left: 23%;
    width: 50%;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 250px;
    position: absolute;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    visibility: hidden;
}

.childTwo .card-background {
    background-image: url('./img/Girl.jpeg');
}


.card-content {
    text-align: justify;
    padding: 0px 20px;

}

.card-content h1 {
    font-weight: 500;
}

.card-content h3 {
    font-weight: 200;
}

.card-content h3 span {
    color: grey;
    font-weight: 100;
}

.card-content p.post {
    text-transform: capitalize;
}

.button-container {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    /* show center line */
}

.button-container p {
    /* center text as => Text Button */
    align-self: center;
    margin: 0px;
}

.button-container p.customIcon {
    padding: 8px 16px;
    border: 2px solid rgba(189, 182, 182, 0.2);
    background-color: white;
    color: black;
}

.button-container p strong {
    padding: 2px 8px;
}

.button-container p strong:hover {
    border-radius: 50%;
}

.button-container p strong.radio {
    border-radius: 50%;
}

.button-container p.customIcon::after {
    content: '\00a\2192';
    font-weight: 50.0;
}

.sidOne {
    height: 45%;
}

.sidOne img {
    width: 100%;
    height: 70%;
}

.sidCard {
    font-size: large;
}

.back-color {
    font-size: larger;
    padding: 12px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
}

.sidCard img.profile {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    float: left;
    margin-right: 15px;
}

.sidCard span {
    display: block;
    margin-bottom: 3px;
}

.sidCard span.bold {
    font-weight: 600;
}

.group {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 13px;
    padding-bottom: 7px;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    font-weight: bold;
    font-size: large;
    margin-left: 6px;
    display: inline-block;
    padding: 0px 10px 10px;
    background-color: rgba(0, 0, 0, 0.04);
    color: black;
    margin-bottom: 10px;
}